@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --dark: #2b2b2b;
    --light: lightsmoke;
}

@media(prefers-color-scheme: dark) {
:root {
    --dark: #fff;
    --light: #2b2b2b;
}
}

html {
    margin: 0;
    padding: 0;
    height: 100dvh;
    overflow-y: auto;
    background-color: var(--light);
    color: var(--dark);
}

body {
    font-family: 'Courier New', monospace;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    margin: 0 auto 0 auto;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 450px;
    height: 95vh;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15dvh;
}

#nav_links {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--dark);
}

#main {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    height: 250px;
    width: max-content;
    margin: 0 auto 0 auto;
    padding: 15px;
    border: var(--dark) dotted 1px;
}

.li-container {
    width: max-content;
    padding: 0px 5px;
    text-align: center;
}

footer {
    width: max-content;
    margin: 0 auto 0 auto;
    text-align: center;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    font-weight: bold;
}

/* ---------- tree page ---------- */


.tree_list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tree_list li {
  list-style: none;
  margin: 0;
}
.tree_list li::marker {
  content: "" !important;
}

.tree_list li::before {
  content: "> ";
  display: inline-block;
  margin-right: 4px;
}



.box:hover {
    border-style: dashed;
    border-width: 2px;
    border-color: red;
}